
highway_env

scipy.linalg
torch
torch.nn
torch.nn.functional
numpy 

 matplotlib
matplotlib.pyplot 
%matplotlib inline
tqdm.notebook 

pathlib 
sys

tensorboardx gym pyvirtualdisplay
-y xvfb ffmpeg
!git clone https://github.com/Farama-Foundation/HighwayEnv.git 2> /dev/null
sys.path.insert(0, '/content/HighwayEnv/scripts/')
utils 
time
tqdm 
gymnasium
